:root {
    --RichBlack: hsl(198, 100%, 5%);
    --MidnightGreen: hsl(190, 100%, 23%);
    --DarkCyan: hsl(181, 89%, 31%);
    --TiffanyBlue: hsl(160, 41%, 70%);
    --Vanilla: hsl(45, 61%, 78%);
    --Gamboge: hsl(39, 100%, 47%);
    --AlloyOrange: hsl(30, 98%, 40%);
    --Rust: hsl(19, 97%, 37%);
    --Rufous: hsl(5, 81%, 38%);
    --Auburn: hsl(358, 64%, 37%);
}
header{
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.4rem double var(--AlloyOrange);
    border-top: none;
    border-radius: 0rem 0rem 2rem 2rem;
    background-color: var(--Rufous);
    color: var(--Vanilla);
    text-shadow: 1px 1px var(--Gamboge);
    font-size: x-large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    z-index: 100;
}
header .logo{
    margin-left: 3rem;
    height: 3rem;
    transition: 300ms ease-in;
}
header a{
    text-decoration: none;
    color: var(--Vanilla);
}
nav{
    display: flex;
    margin-right: 2rem;
}
.navLink{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 1rem;
    transition: 350ms ease-in;
    user-select: none;
    cursor: pointer;
}
.navLink:hover{
    text-shadow: 1px 1px var(--AlloyOrange);
    color: var(--Gamboge);
    text-decoration: underline 0.2rem var(--RichBlack);
    transform: scale(1.1);
}
.navLink:hover > img{
    content: url(../assets/icones/botoesNavbarOn.png);
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: girarIcone;
}
.navLink img{
    height: 2rem;
}
@keyframes girarIcone{
    0%{
        transform: rotate(60deg);
    }
    45%{
        transform: rotate(-105deg);
    }
    100%{
        transform: rotate(45deg);
    }
}